
.container {
    position: relative;
    /* background-color: black; */
    margin-top: 30%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    z-index: 2;
  }
  
  .sunmoon {
      position: relative; 
      z-index: 0;  
      width: 100%;
     
  }
  
  .sunmoon img {
    width: 50%;
  }
  
  .skeleton {
      position: relative;
      z-index: 11;
      width: 50%;
      margin-top: -30%;
      
  }
  
  .Spinning-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top: 20%;
  }
  
  #left-intro {
    text-align: left;
    position: absolute;
    margin-top: -33%;
    margin-left: 3%;
  }
  #right-intro {
    text-align: right;
    margin-right: 3%;
    margin-top: -33%;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Spinning-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Small screens (phones) */
  @media (max-width: 600px) {
  
    .container {
      position: relative;
      /* background-color: black; */
      display: flexbox;
      justify-content: center;
      align-items: center;
      /* padding-bottom: 33%; */
      z-index: 2;
      margin-top: 75%;
      padding-top: 20%;
    }
  
  
    .sunmoon {
      position: relative; 
      z-index: 0;  
      width: 100%;
    
    }
  
    .sunmoon img {
    width: 80%;
    }
  
    .skeleton {
      position: relative;
      z-index: 11;
      width: 90%;
      margin-top: -50%;
      
    }
  
    .Spinning-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top: 20%;
    }
  
    #left-intro {
      text-align: center;
      position: relative;
      margin-top: 0%;
      margin-right: 3%;
    }
    #right-intro {
      text-align: center;
      margin-top: -5%;
      margin-left: 3%;
    }
  
  }
  
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .container {
      position: relative;
      /* background-color: black; */
      display: flexbox;
      justify-content: center;
      align-items: center;
      /* padding-bottom: 33%; */
      z-index: 2;
      margin-top: 20%;
      padding-top: 20%;
    }
  
  
    .sunmoon {
      position: relative; 
      z-index: 0;  
      width: 100%;
    
    }
  
    .sunmoon img {
    width: 80%;
    }
  
    .skeleton {
      position: relative;
      z-index: 11;
      width: 90%;
      margin-top: -50%;
      
    }
  
    .Spinning-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top: 20%;
    }
  
    #left-intro {
      text-align: center;
      position: relative;
      margin-top: 0%;
      margin-right: 3%;
    }
    #right-intro {
      text-align: center;
      margin-top: 0%;
      margin-left: 3%;
    }
  
  
  }
  
  @media (min-width: 1025px) {
  
    .container {
      position: relative;
      /* background-color: black; */
      display: flexbox;
      justify-content: center;
      align-items: center;
      padding-bottom: 30%;
      z-index: 2;
      margin-top: 0%;
      padding-top: 20%;
    }
  
  
    .sunmoon {
      position: relative; 
      z-index: 0;  
      width: 100%;
    
    }
  
    .sunmoon img {
    width: 50%;
  
    }
  
    .skeleton {
      position: relative;
      z-index: 11;
      width: 50%;
      margin-top: -29%;
      
    }
  
    .Spinning-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top: 0%;
    }
  
    #left-intro {
      text-align: center;
      position: absolute;
      margin-top: 0%;
      margin-right: 3%;
      margin-top: -33%;
    }
    #right-intro {
      text-align: absolute;
      margin-top: 0%;
      margin-left: 3%;
      margin-top: -33%;
    }
  
  }
  
  