
#flower {
    margin-top: 20%;
}

.Spinning-logo {
    height: 30vmin;
    pointer-events: none;
  }

.FlowerDiv {
    background: none;
    opacity: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    margin-top: -33px;
}

.Paragraph {
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 10%;
}

.Paragraph p {
  line-height: 1.5;
}



@media (prefers-reduced-motion: no-preference) {
    .Spinning-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 600px) {
    #flower {
      margin-top: 33%;
  }
    
    .Paragraph {
      margin-left: 24px;
      margin-right: 24px;
      padding-bottom: 5%;
    }
  }
  
  
  @media (min-width: 601px) and (max-width: 1024px) {
    #flower {
      margin-top: 33%;
  }
    
    .Paragraph {
      margin-left: 48px;
      margin-right: 48px;
      padding-bottom: 5%;
    }
  }
  
  @media (min-width: 1025px) {

    .Paragraph {
      margin-left: 48px;
      margin-right: 48px;
      padding-bottom: 5%;
    }
  }