// Variables

$orange-light: #fecf4e;
$orange: #a62a44;
$orange-dark: #310441;

$blue-light: #70a27d;
$blue: #4552a1;
$blue-dark: #371a6a;

$bg-light: #ee7752;
$bg-semi: #e73c7e;
$bg-middle: #23a6d5;
$bg-dark: #23d5ab;



.Haven-container {
  position: relative;
  width: 1700px;
  height: 1700px;
  margin: 100px auto;
  background: linear-gradient(-45deg, #fff, #2370bc,  #2398bc,  #bc2344,  #bc2323, #fff);
  background-size: 400% 400%;
  animation: daylight 15s ease infinite;
  border-radius: 50%;
//   border: 10px solid #fff;
//   border: 10px solid #000;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(black, .3),
              inset 0 0 0 72px rgba(black, .05),
              inset 0 0 0 138px rgba(black, .05),
              inset 0 0 0 204px rgba(black, .05),
              inset 0 0 0 270px rgba(black, .05),
              inset 0 0 0 336px rgba(black, .05),
              inset 0 0 0 402px rgba(black, .05),
              inset 0 0 0 468px rgba(black, .05),
              inset 0 0 0 534px rgba(black, .05),
              inset 0 0 0 600px rgba(black, .05);
}

.Heaven-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #191970, #bdbdbd,  #ffffff, #ffffff);
    padding-top: 1%;
}

.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 120px;
  height: 120px;
  background: linear-gradient(to bottom, $orange-light 1%, $orange 50%, $orange-dark 100%);
  border-radius: 50%;
  transform: rotate(-15deg) translate(-35%, -55%);
}


.orbit {
  width: 20px;
  height: 20px;
//   background: white;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.orbit img {
    width: 150%;
    top: 0;
    margin-bottom: 100px;
    padding: 0%;
    margin-top: -5px;
}


.orbit-1 {
    animation: orbit-1 1s linear infinite;
  }
  
@keyframes orbit-1 {
from { transform: rotate(0deg) translateX(138px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(138px  ) rotate(-360deg) }
} 

.orbit-2 {
    animation: orbit-2 2s linear infinite;
  }
  
@keyframes orbit-2 {
from { transform: rotate(0deg) translateX(204px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(204px  ) rotate(-360deg) }
} 

.orbit-3 {
    animation: orbit-3 3s linear infinite;
  }
  
@keyframes orbit-3 {
from { transform: rotate(0deg) translateX(270px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(270px  ) rotate(-360deg) }
} 

.orbit-4 {
    animation: orbit-4 5s linear infinite;
  }
  
@keyframes orbit-4 {
from { transform: rotate(0deg) translateX(336px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(336px  ) rotate(-360deg) }
} 

.orbit-5 {
    animation: orbit-5 8s linear infinite;
  }
  
@keyframes orbit-5 {
from { transform: rotate(0deg) translateX(402px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(402px  ) rotate(-360deg) }
} 

.orbit-5 {
    animation: orbit-5 13s linear infinite;
  }
  
@keyframes orbit-5 {
from { transform: rotate(0deg) translateX(468px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(468px  ) rotate(-360deg) }
} 

.orbit-6 {
    animation: orbit-6 21s linear infinite;
  }
  
@keyframes orbit-6 {
from { transform: rotate(0deg) translateX(534px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(534px  ) rotate(-360deg) }
} 

.orbit-7 {
    animation: orbit-7 34s linear infinite;
  }
  
@keyframes orbit-7 {
from { transform: rotate(0deg) translateX(600px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(600px  ) rotate(-360deg) }
} 

.orbit-8 {
    animation: orbit-8 55s linear infinite;
  }
  
@keyframes orbit-8 {
from { transform: rotate(0deg) translateX(600px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(600px  ) rotate(-360deg) }
} 

.orbit-9 {
    animation: orbit-9 89s linear infinite;
  }
  
@keyframes orbit-9 {
from { transform: rotate(0deg) translateX(666px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(666px  ) rotate(-360deg) }
} 

.orbit-10 {
    animation: orbit-10 144s linear infinite;
  }
  
  


@keyframes daylight {
  0%   { background-position: 0% 50%   }
  50%  { background-position: 100% 50% }
  100% { background-position: 0% 50%   }
}



@media (max-width: 600px) {
   
    .Haven-container {
        position: relative;
        width: 400px;
        height: 400px;
        background-size: 400% 400%;
        animation: daylight 15s ease infinite;
        border-radius: 50%;
        // border: 10px solid #fff;
        // border: 10px solid #000;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(black, .3),
                    inset 0 0 0 186px rgba(black, .05),
                    inset 0 0 0 170px rgba(black, .05),
                    inset 0 0 0 152px rgba(black, .05),
                    inset 0 0 0 130px rgba(black, .05),
                    inset 0 0 0 108px rgba(black, .05),
                    inset 0 0 0 86px rgba(black, .05),
                    inset 0 0 0 64px rgba(black, .05),
                    inset 0 0 0 42px rgba(black, .05),
                    inset 0 0 0 20px rgba(black, .05);
      }
      
      .planet {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 30px;
        height: 30px;
        background: linear-gradient(to bottom, $orange-light 1%, $orange 50%, $orange-dark 100%);
        border-radius: 50%;
        transform: rotate(-15deg) translate(-35%, -55%);
      }
      
      
      .orbit {
        width: 5px;
        height: 5px;
        // background: white;
        border-radius: 50%;
        position: absolute;
        top: 49%;
        left: 49%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
      
    
      @keyframes orbit-1 {
      from { transform: rotate(0deg) translateX(10px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(10px  ) rotate(-360deg) }
      } 

      .orbit-1 img {
        margin-top: -3px;
        margin-left: -3px;
        
      }
      
    
        
      @keyframes orbit-2 {
      from { transform: rotate(0deg) translateX(25px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(25px  ) rotate(-360deg) }
      } 

      .orbit-2 img {
        margin-top: -3px;
        margin-left: -2px;
        
      }
      
    
        
      @keyframes orbit-3 {
      from { transform: rotate(0deg) translateX(40px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(40px  ) rotate(-360deg) }
      } 

      .orbit-3 img {
        margin-top: -1px;
        margin-left: -1px;
        
      }
    
        
      @keyframes orbit-4 {
      from { transform: rotate(0deg) translateX(60px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(60px  ) rotate(-360deg) }
      } 

      .orbit-4 img {
        margin-top: -1px;
        margin-left: -1px;
      }
      
  
        
      @keyframes orbit-5 {
      from { transform: rotate(0deg) translateX(80px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(80px  ) rotate(-360deg) }
      } 

      .orbit-5 img {
        margin-top: -1px;
        margin-left: -1px;
      }
   
      @keyframes orbit-6 {
      from { transform: rotate(0deg) translateX(105px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(105px  ) rotate(-360deg) }
      } 

      .orbit-6 img {
        margin-top: -1px;
        margin-left: -1px;
      }
      
     
      @keyframes orbit-7 {
      from { transform: rotate(0deg) translateX(125px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(125px  ) rotate(-360deg) }
      } 
  
        
      @keyframes orbit-8 {
      from { transform: rotate(0deg) translateX(150px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(150px  ) rotate(-360deg) }
      } 

      .orbit-8 img {
        margin-top: -1px;
        margin-left: -1px;
      }
     
        
      @keyframes orbit-9 {
      from { transform: rotate(0deg) translateX(170px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(170px  ) rotate(-360deg) }
      } 

      .orbit-10 img {
        margin-top: -1px;
        margin-left: -1px;
      }

      
    @keyframes orbit-10 {
    from { transform: rotate(0deg) translateX(190px ) rotate(0deg)      }
    to   { transform: rotate(360deg) translateX(190px  ) rotate(-360deg) }
    } 

    .orbit-9 img {
      margin-top: -1px;
      margin-left: -1px;
    }

    #terra {
        margin-top: 8px;
        margin-left: 3px;
    }
      
      
      
      @keyframes daylight {
        0%   { background-position: 0% 50%   }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50%   }
      }
  
    
 
  }
  
  
  @media (min-width: 601px) and (max-width: 1024px) {
    
    .Haven-container {
        position: relative;
        width: 600px;
        height: 600px;
        margin: 100px auto;
        background-size: 400% 400%;
        animation: daylight 15s ease infinite;
        border-radius: 50%;
        // border: 10px solid #fff;
        // border: 10px solid #000;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(black, .3),
                    inset 0 0 0 281px rgba(black, .05),
                    inset 0 0 0 250px rgba(black, .05),
                    inset 0 0 0 219px rgba(black, .05),
                    inset 0 0 0 188px rgba(black, .05),
                    inset 0 0 0 157px rgba(black, .05),
                    inset 0 0 0 126px rgba(black, .05),
                    inset 0 0 0 95px rgba(black, .05),
                    inset 0 0 0 64px rgba(black, .05),
                    inset 0 0 0 33px rgba(black, .05),
                    inset 0 0 0 2px rgba(black, .05);
      }
      
      .orbit {
        width: 10px;
        height: 10px;
        // background: white;
        border-radius: 50%;
        position: absolute;
        top: 49%;
        left: 49%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
      
     
        
      @keyframes orbit-1 {
      from { transform: rotate(0deg) translateX(14px) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(14px  ) rotate(-360deg) }
      } 

      .orbit-1 img {
        margin-top: -5px;
        margin-left: -5px;
      }
      
        
      @keyframes orbit-2 {
      from { transform: rotate(0deg) translateX(35px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(35px  ) rotate(-360deg) }
      } 

      .orbit-2 img {
        margin-top: -5px;
        margin-left: -3px;
      }
   
        
      @keyframes orbit-3 {
      from { transform: rotate(0deg) translateX(65px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(65px  ) rotate(-360deg) }
      } 

      .orbit-3 img {
        margin-top: -3px;
        margin-left: -3px;
      }
        
      @keyframes orbit-4 {
      from { transform: rotate(0deg) translateX(95px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(95px  ) rotate(-360deg) }
      } 

      .orbit-4 img {
        margin-top: -2px;
        margin-left: -2px;
      }
      
      
        
      @keyframes orbit-5 {
      from { transform: rotate(0deg) translateX(125px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(125px  ) rotate(-360deg) }
      } 
      
    
        
      @keyframes orbit-6 {
      from { transform: rotate(0deg) translateX(155px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(155px  ) rotate(-360deg) }
      } 

      .orbit-6 img {
        margin-top: -5px;
        margin-left: -3px;
      }
     
        
      @keyframes orbit-7 {
      from { transform: rotate(0deg) translateX(190px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(190px  ) rotate(-360deg) }
      } 

      .orbit-7 img {
        margin-top: -5px;
        margin-left: -3px;
      }
      
    
        
      @keyframes orbit-8 {
      from { transform: rotate(0deg) translateX(220px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(220px  ) rotate(-360deg) }
      } 

      .orbit-8 img {
        margin-top: -2px;
        margin-left: -3px;
      }
      
        
      @keyframes orbit-9 {
      from { transform: rotate(0deg) translateX(250px ) rotate(0deg)      }
      to   { transform: rotate(360deg) translateX(250px  ) rotate(-360deg) }
      } 

      .orbit-9 img {
        margin-top: -1px;
        margin-left: -3px;
      }

      

      @keyframes orbit-10 {
        from { transform: rotate(0deg) translateX(280px ) rotate(0deg)      }
        to   { transform: rotate(360deg) translateX(280px  ) rotate(-360deg) }
        } 
  
        .orbit-10 img {
          margin-top: -1px;
          margin-left: -3px;
        }

        #terra {
            margin-top: 9px;
            margin-left: 3px;
        }
      
      
      
      @keyframes daylight {
        0%   { background-position: 0% 50%   }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50%   }
      }
    

  }
  
  @media (min-width: 1025px) {


.Haven-container {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 100px auto;
    background-size: 400% 400%;
    animation: daylight 15s ease infinite;
    border-radius: 50%;
    // border: 10px solid #fff;
    // border: 10px solid #000;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(black, .3),
                inset 0 0 0 450px rgba(black, .05),
                inset 0 0 0 400px rgba(black, .05),
                inset 0 0 0 350px rgba(black, .05),
                inset 0 0 0 300px rgba(black, .05),
                inset 0 0 0 250px rgba(black, .05),
                inset 0 0 0 200px rgba(black, .05),
                inset 0 0 0 150px rgba(black, .05),
                inset 0 0 0 100px rgba(black, .05),   
                inset 0 0 0 50px rgba(black, .05);   
  }
  
  .orbit {
    width: 15px;
    height: 15px;
    // background: white;
    border-radius: 50%;
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 9;
  }
  
  
    
  @keyframes orbit-1 {
  from { transform: rotate(0deg) translateX(30px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(30px  ) rotate(-360deg) }
  } 

  .orbit-1 img {
    margin-top: -9px;
    margin-left: -9px;
  }
  

    
  @keyframes orbit-2 {
  from { transform: rotate(0deg) translateX(75px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(75px  ) rotate(-360deg) }
  } 

  .orbit-2 img {
    margin-top: -9px;
    margin-left: -4px;
  }
  
  @keyframes orbit-3 {
  from { transform: rotate(0deg) translateX(130px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(130px  ) rotate(-360deg) }
  } 

  .orbit-3 img {
    margin-top: -3px;
    margin-left: -3px;
  }
  
  @keyframes orbit-4 {
  from { transform: rotate(0deg) translateX(175px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(175px  ) rotate(-360deg) }
  } 

  .orbit-4 img {
    margin-top: -4px;
    margin-left: -4px;
  }
  

  @keyframes orbit-5 {
  from { transform: rotate(0deg) translateX(225px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(225px  ) rotate(-360deg) }
  } 
  

    
  @keyframes orbit-6 {
  from { transform: rotate(0deg) translateX(280px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(280px  ) rotate(-360deg) }
  } 
  

  @keyframes orbit-7 {
  from { transform: rotate(0deg) translateX(330px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(330px  ) rotate(-360deg) }
  } 
  

    
  @keyframes orbit-8 {
  from { transform: rotate(0deg) translateX(375px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(375px  ) rotate(-360deg) }
  } 
  

    
  @keyframes orbit-9 {
  from { transform: rotate(0deg) translateX(425px ) rotate(0deg)      }
  to   { transform: rotate(360deg) translateX(425px  ) rotate(-360deg) }
  } 


  
@keyframes orbit-10 {
from { transform: rotate(0deg) translateX(480px ) rotate(0deg)      }
to   { transform: rotate(360deg) translateX(480px  ) rotate(-360deg) }
} 

.orbit-10 img {
    margin-top: -3px;
    margin-left: -5px;
}

#terra {
    margin-top: 10px;
    margin-left: 5px;
}
  
  
  
  @keyframes daylight {
    0%   { background-position: 0% 50%   }
    50%  { background-position: 100% 50% }
    100% { background-position: 0% 50%   }
  }

  
  }
