

.navTrigger {
    display: none;
  }
   
  .nav {
    width: 100%;
    position: fixed;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 10;
  }

  .nav img {
    top: 0;
    width: 75px;
    margin-top: -20px;
    cursor: url("assets/clicker.svg"), progress;
  }
  
  
  .nav div.logo {
    float: left;
    width: auto;
    height: auto;
    margin-left: 50px;
    cursor: url("assets/clicker.svg"), progress;
  }
  
  .nav div.logo a:hover {
    cursor: url("assets/clicker.svg"), progress;
  }
  
  .nav div.main_list {
    height: 65px;
    float: right;
    margin-right: 0%;
    margin-top: 20px;
  }
  
  .nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
  }
  
  .nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.3rem;
  }
  
  span.navTrigger:hover {
    cursor: url("assets/clicker.svg"), progress;
  }
  
  /* Scale from center */
  .nav div.main_list ul li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .nav div.main_list ul li a:hover::after,
  .nav div.main_list ul li a:focus::after{
    transform: scale(1);
    z-index: 4;
  }

  

  /* Small screens (phones) */
  @media (max-width: 600px) {
    .nav div.logo {
      width: 300px;
      top: 0;
      margin-top: 20px;
  }

    .nav img {
      top: 0;
      width: 75px;
      margin-top: -30px;
      margin-left: -20px;
    }

    
  }


  @media screen and (max-width:768px) {
    
    .navTrigger {
        display: block;
        
        
    }
    .nav div.logo {
        width: 200px;
        top: 0;
        float: left;
        width: auto;
        height: auto;
        margin-left: 50px;
    }

    .nav img {
      top: 0;
      margin-top: 10px;
    }
  
    
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: #000;
  
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: right;
        width: auto;
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 5%;
    }
  
    .nav div.media_button {
        display: block;
    }

    .menu {
      color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 20%;
      align-items: end;
      margin-right: 10%;
      font-size: 30px;
      font-family: "Karla";

  }
  .menu ul {
      list-style: none;
  }
  .menu ul li {
      line-height: 2.5;
  }
  
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    .nav img {
      top: 0%;
      width: 75px;
      margin-top: 20px;
      margin-left: -20px;
    }
  }
  
  @media (min-width: 1025px) {
    .nav img {
      top: 0%;
      width: 75px;
      margin-top: 20px;
    }
  }

  /* Nav Bar Animation */
  .navTrigger {
    cursor: pointer;
    width: 40px;
    height: 30px;
    margin: auto;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin-top: 50px;
    margin-right: 12%;
  }
  
  .navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;  
    mix-blend-mode: difference;  
  }
  
  .navTrigger i:nth-child(2) {
    margin: 7px 0;

  }